$primary-color:#E7F9FF;
$secundary-color:#FFBCDF;
$tertiary-color:#61BCFF;
$primary-text-color:#2b2a2a;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-size:1.5em;

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}  

nav{
    background-color: $tertiary-color;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 15px;
    p{
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 15px;
        button{
            background: none;
            border-style: none;
        }    

    }
}

.img-section{
    width: auto;
    padding: 10px 20px 10px 20px;
    img{
        width: 100%;
        border-radius: 50px;
        
    }


    .whatsapp{
        font-size: 1.8em;
        cursor: pointer; 
        
    }

  

    button   {
        --color: #00A97F;
        --color2: rgb(255, 255, 255);
        padding: 0.8em 1.75em;
        background-color: #ffffff;
        border-radius: 6px;
        border: .3px solid var(--color);
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 300;
        font-size: 17px;

        font-style: normal;
        
        color: var(--color);
       }
       
       button::after, button::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var(--color);
       }
       
       button::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
       }
       
       button:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
       }
       
       button:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
       }
       
       button:hover {
        color: var(--color2);
       }
       
       button:active {
        filter: brightness(.7);
        transform: scale(.98);
       }

       .whatsapp-button{
        text-decoration: none;
        color: var(--color);

       }

      
     

      

}





section{
    width: 100%;
    height: auto;
    

    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .girls{
        h2{
            font-weight: 300;
            padding-bottom: 60px; 
        }

        .product-card{
            width: 15vw;
            height: auto;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;;
            img{
                width: 200px;
                height: 200px;
                background-image: cover;
                border-radius: 6px;
            }
        }
    }
}

main{
    background-color: $primary-color;
}

footer{
    background: $tertiary-color;
    width: 100%;
    height: 250px;
}
